<% provide(:title, 'Home') %>
<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/userinfo' %>
      </section>
      <section>
        <%= render 'shared/entryform' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Entry Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>  
<% else %>
<div class="center hero-unit">
    <h1>Have a nice day !!!</h1>

    <h2>
      This is the Ruby on rails' Test Following 
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial by Michael Hartl</a>

    </h2>

    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<%end%>