<% provide(:title, @user.username) %>
<div class="row">
  <aside>  
  <section>
	<%=@user.username%>   		
	  <%= gravatar_for @user %>
  </section>
  </aside>
<div class="span8">
    <% if @user.entries.any? %>
      <h3>Entries (<%= @user.entries.count %>)</h3>
      <ol class="entries">
        <%= render @entries %>
      </ol>
      <%= will_paginate @entries %>
    <% end %>
 </div> 
</div>
