<li id="<%= feeditem.id %>">
  <%= link_to gravatar_for(feeditem.user), feeditem.user %>
  <span class="user">
    <%= link_to feeditem.user.username, feeditem.user %>
  </span>
  <span class="content"><%= feeditem.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(feeditem.created_at) %> ago.
  </span>
</li>